@import "tailwindcss";

@theme {
  --font-arial: "Arial", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-con: "Roboto Condensed", sans-serif;
  --font-caveat: "Caveat", cursive;
  --font-nunito-sans: "Nunito Sans", sans-serif;
  --color-purple: #55338A;
  --color-red: #DB250D;
  --color-yellow: #FFF962;
  --color-gray: #F0F1F7;
  --color-dark-purple: #37215A;
}

.container {
  @apply px-5 mx-auto w-full sm:max-w-xl md:max-w-[45rem] lg:max-w-[62rem] xl:max-w-[77rem] 2xl:max-w-[93rem];
}